@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Roboto+Mono:wght@300&display=swap');

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

body {
    display: grid;
    place-content: start center;
    min-height: 100vh;

    font-family: 'Lora', serif;
}

input[type="text"], input[type="number"] {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.658);
    padding-bottom: 0.2rem;
}

.col {
    display: inline-flex;
    flex-direction: column;
}

.main-grid {
    display: grid;
    gap: 1.2rem;
    grid-auto-columns: 1fr;
    
    width: min(95%, 70rem);
    padding-block: 1rem;
    margin-inline: auto;
}

.info-cell {
    padding: 1rem;
}

.info-cell h2 {
    font-size: 1.3rem;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.sheetHeader {
    grid-area: header;
    padding: 1.5rem 1rem;
}

.sheetHeader h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 3rem;
}

.info-row {
    display: flex;
    gap: 2rem;
}

.info-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 0.5rem;
}

.bars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
}

.bar-main {
    width: min(80%, 20rem);
    height: 1.5rem;
    border-radius: 2rem;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    overflow: hidden;
}

.progress {
    width: 100%;
    height: 100%;
    background-color: greenyellow;
    transition: width 1s ease-out, background-color 1s ease-out;
}

.barsInput {
    font-size: 1.5rem;
    width: 4rem;
    font-family: 'Lora', serif;
}

.charInfo {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.button-col button {
    font-family: 'Lora', serif;
    font-size: 1rem;
    padding: 0.3em 0.7em;
    border-radius: 0.5rem;
    transition: color 0.15s, background-color 0.15s;
}

.button-col {
    gap: 0.5rem;
}

#healthSelectionButton {
    border: 2px solid #46a552;
    background-color: #46a552;
    color: #ffffff;
}

#cellSelectionButton {
    border: 2px solid #4f99bb;
    background-color: #ffffff;
    cursor: pointer;
}

#sanitySelectionButton {
    border: 2px solid #c567b9;
    background-color: #ffffff;
    cursor: pointer;
}

.barAlterButtons {
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    padding: 0.3rem 0.8rem;
}

#addBars {
    background-color: #338633;
    color: #ffffff;
    font-size: 1.5rem;
    border: 2px solid #338633;
}

#subtractBars {
    background-color: #863333;
    color: #ffffff;
    font-size: 1.5rem;
    border: 2px solid #863333;
}

#health-bar {
    background-color: #6edb64;
}

#cell-bar {
    background-color: #59dfd8;
}

#sanity-bar {
    background-color: #c057c0;
}

#overhealth-bar {
    background-color: #e7d531;
    width: 0%;
}

.data-handler {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ececec;
}

.data-sec {
    display: inline-flex;
    flex-direction: column;
    gap: 0.5rem;
}

.spell-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.spellOptions {
    display: flex;
    gap: 1rem;
}

.spellHolder {
    min-height: 3rem;
    max-height: 32rem;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid #161616;
    border-radius: 0.75rem;
}

.spell {
    display: grid;
    grid-template-columns: 0.5rem 1fr;
    gap: 0.25rem;
}

.template-spell {
    display: none;
}

.aboutSpell {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 0.5rem;
}

.spellSection {
    display: flex;
    flex-direction: column;
}

.confirmCast {
    display: none;
}

.stat-grid {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem 1rem 1rem 0;
}

.mainStat {
    width: 60%;
    font-family: 'Lora', serif;
    font-size: 1.2rem;
}

.charInfo {grid-area: charinfo;}
.bars { grid-area: bars; }
.data-handler {grid-area: impexp;}
.spell-list {grid-area: spelllist;}
.main-stats {grid-area: mainstats;}

@media screen and (max-width: 25em) {
    .data-handler {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
}

@media screen and (min-width: 10em) and (max-width: 49em) {
    .main-grid {
        grid-template-areas: 
            'header header'
            'impexp impexp'
            'bars bars'
            'charinfo charinfo'
            'spelllist spelllist'
            'mainstats mainstats';
    }

    .info-grid {
        grid-template-columns: 1fr 1fr;
    }

    .stat-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 49em) and (max-width: 65em) {
    .main-grid {
        grid-template-areas: 
            'header header impexp impexp'
            'bars bars bars bars'
            'charinfo charinfo charinfo charinfo'
            'spelllist spelllist spelllist spelllist'
            'mainstats mainstats mainstats mainstats';
    }

    .data-sec {
        justify-content: center;
    }

    .stat-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 65em) {
    .main-grid {
        grid-template-areas: 
            'header header header header'
            'impexp impexp bars bars'
            'charinfo charinfo bars bars'
            'charinfo charinfo bars bars'
            'mainstats mainstats . .'
            'spelllist spelllist spelllist spelllist';
    }
}

.fusion {background: #91C2FF; background: linear-gradient(90deg, #91C2FF 0%, #FF853F 100%);}
.fire {background-color: #FF303E;}
.water {background-color: #63B3FF;}
.air {background-color: #AAFFB7;}
.earth {background-color: #A86D35;}

.light {background-color: #FFE53F;}
.dark {background-color: #6262AD;}
.smoke {background-color: #919191;}
.lightning {background-color: #CEAD29;}
.ice {background-color: #FFFFFF;}
.nature {background-color: #53B54F;}

.chaos {background: #FE0E06; background: linear-gradient(90deg, #FE0E06 0%, #9E6AFA 100%);}
.order {background: #9E5E27; background: linear-gradient(90deg, #FFDE4C 0%, #9E5E27 100%);}
.love {background-color: #FF5ED9;}
.explosion {background-color: #FF6C4F;}
.shadow {background-color: #724E8B;}
.sound {background-color: #710F3F;}
.aurora {background: #d021df; background: linear-gradient(0deg, #e2d623 0%, #daa020 25%, #d021df 50%, #029bd9 75%, #00ff1d 100%);}

.illusion {background-color: #6B5069;}
.dream {background: #FF89F3; background: linear-gradient(0deg, #FFFDFF 0%, #FF89F3 100%);}
.nightmare {background: #541517; background: linear-gradient(90deg, #b12c30 0%, #121111 100%);}
.spatial {background: #4D5EFF; background: linear-gradient(0deg, #4D5EFF 0%, #DD63FF 100%);}
.gravity {background-color: #B5447C;}
.life {background: #84B5AC; background: linear-gradient(0deg, #FFA3E6 0%, #84B5AC 100%);}

.time {background: #8ed97a; background: linear-gradient(0deg, #8ed97a 0%, #888888 50%, #8ed97a 100%);}
.space {background: #FFA970; background: linear-gradient(0deg, #FFA970 0%, #C55FFD 100%);}
.death {background-color: #111111;}
.fairy {background: #EC53FF; background: linear-gradient(0deg, #EC53FF 0%, #A60DFF 100%);}
.ghost {background: #491B79; background: linear-gradient(90deg, #491B79 0%, #161616 100%);}
.antimagic {background: rgb(184,184,184); background: linear-gradient(90deg, rgba(184,184,184,1) 0%, rgba(113,113,113,1) 100%);}
